<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mission to Mars</title>
  </head>
  <body>
      <!--Top Section-->
        <div class="container" id="head">
            <center>

    <h1>Mission to Mars</h1>
    <br>
     
    <a href="."><button type="button" class="btn btn-primary btn-lg">Scrape New Data</button></a>
    
</center>
    </div>

    <!--Middle Section-->
    <div class="container"> 
        <h3>Latest Mars News</h3>
        <h5>{{ news_title }}</h5>
        {{ news_p }}
    <div class="row">
        <!-- Featured Mars Image -->
        <div class="col-sm-8">
            <h3>Featured Mars Image</h3>
            <img src= {{ featured_image_url }} alt="Featured Mars Image" class="img-thumbnail">
        </div>
        <br><br>
        <div class="col-sm-4">
            <br><br>
            <!-- Weather Table -->
            <div class="databox">
                <table border="1">
                    <tr><th colspan="2"><center>Current Weather on Mars</center></th></tr>
                    <tr><td>Date:<td>{{ mars_weather[0] }},{{ mars_weather[1] }}</td></tr>
                    <tr><td>Weather Conditions:<td>{{ mars_weather[2] }}</td></tr>
                    <tr><td>High Temperature:<td>{{ mars_weather[3] }}</td></tr>
                    <tr><td>Low Temperature:<td>{{ mars_weather[4] }}</td></tr>
                    <tr><td>Atmospheric Pressure:<td>{{ mars_weather[5] }}</td></tr>
                    <tr><td>Daylight Hours: <td>{{ mars_weather[6] }}</td></tr>
                </table>
            </div>
            <br><br><br>
            <!-- Facts Table -->
            <div class="databox">
                <table border="1">
                    <tr>
                        <th colspan="2"><center>Mars Facts</center></td>
                    </tr>
                    <tr>
                        <td>Equatorial Diameter:</td><td>{{ data["Equatorial Diameter:"] }}</td>
                    </tr>
                    <tr>
                        <td>First Record:</td><td>{{ data["First Record:"] }}</td>
                    </tr>
                    <tr>
                        <td>Mass:</td><td>{{ data["Mass:"] }}</td>
                    </tr>
                    <tr>
                        <td>Moons:</td><td>{{ data["Moons:"] }}</td>
                    </tr>
                    <tr>
                        <td>Orbit Distance:</td><td>{{ data["Orbit Distance:"] }}</td>
                    </tr>
                    <tr>
                        <td>Orbit Period:</td><td>{{ data["Orbit Period:"] }}</td>
                    </tr>
                    <tr>
                        <td>Polar Diameter:</td><td>{{ data["Polar Diameter:"] }}</td>
                    </tr>
                    <tr>
                        <td>Recorded By:</td><td>{{ data["Recorded By:"] }}</td>
                    </tr>
                    <tr>
                        <td>Surface Temperature:</td><td>{{ data["Surface Temperature:"] }}</td>
                    </tr>
                </table>
                 </div>
        </div>
      </div>
<!-- Hemisphere Images -->
      <div class="container">
            <div class="row">
              <div class="col">Cerberus Hemisphere<br><img src={{ hemisphere_image_urls[0]["img_url"] }} alt="Cerberus Hemisphere" class="img-thumbnail"></div>
              <div class="col">Schiaparelli Hemisphere<br><img src={{ hemisphere_image_urls[1]["img_url"] }} alt="Schiaparelli Hemisphere" class="img-thumbnail"></div>
              <div class="w-100"></div>
              <div class="col">Syrtis Major Hemisphere<br><img src={{ hemisphere_image_urls[2]["img_url"] }} alt="Syrtis Major Hemisphere" class="img-thumbnail"></div>
              <div class="col">Valles Marineris Hemisphere<br><img src={{ hemisphere_image_urls[3]["img_url"] }} alt="Valles Marineris Hemisphere" class="img-thumbnail"></div>
            </div>
          </div>

    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>